

#masternav {
	background-color: black;
}

#display {
	text-align: center;
	visibility: hidden;
	background-color: white;
}

#edit {
	text-align: center;
}

#view {
	text-align: center;	
}

#homeContainer {
	text-align: center;
	margin-top: 10%;
	background-color: transparent;
}

.home {
	background-image: url("gg.png");

}

.edbtn {

}

#startButton {
	border: black 10px solid;
}

.datadisplay {
	text-align: center;
}

